<!-- src/app/page/more/more.component.html -->

<div class="window">

  <mat-card mat-ripple [routerLink]="[ '/upload' ]">
    <mat-card-header>
      <mat-card-title>Upload</mat-card-title>
      <mat-card-subtitle>Upload demos about HTTP & Firebase.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content></mat-card-content>
  </mat-card>

  <mat-card mat-ripple>
    <mat-card-header>
      <mat-card-title>More</mat-card-title>
      <mat-card-subtitle>Incoming...</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content></mat-card-content>
  </mat-card>

</div>
