.window {
  padding: 1rem;
  min-height: 100vh;
  > mat-toolbar {
    background-color: white;
  }
  > mat-card {
    margin: 1rem 0;
    mat-card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .file-name {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
        white-space: nowrap;
      }
    }
  }
}
