<!-- src/app/app.component.html -->

<div id="wave"></div>
<div id="window">

  <!-- <h1 class="title" [@title]="animation.title.state" (@title.done)="animation.title.callback()">{{ app.title }}</h1> -->
  <h1 class="title">{{ title }}</h1>

  <p class="desc">{{ desc }}</p>

  <div class="link">
    <a mat-button href="https://github.com/DevinDon/app-template" target="_blank">
      <mat-icon class="ri-github-line"></mat-icon><span class="name">GitHub</span>
    </a>
    <a mat-button href="https://angular.io" target="_blank">
      <mat-icon class="ri-angularjs-line"></mat-icon><span class="name">Angular</span>
    </a>
    <a mat-button href="https://github.com/DevinDon/rester" target="_blank">
      <mat-icon class="ri-server-line"></mat-icon><span class="name">Rester</span>
    </a>
  </div>

  <section class="outlet">
    <router-outlet></router-outlet>
  </section>

</div>
