// src/app/app.component.scss

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .mat-toolbar {
    position: sticky;
    height: 5rem;
    top: 0;
    left: 0;
  }

  > .outlet {
    flex-grow: 1;
    width: 100vw;
  }
}
