// src/app/app.component.scss

#window {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  min-height     : 100vh;

  >.outlet {
    width: 100vw;
  }
}
