<!-- src/app/page/about/about.component.html -->

<div id="wave"></div>
<div class="window">

  <!-- <h1 class="title" [@title]="animation.title.state" (@title.done)="animation.title.callback()">{{ app.title }}</h1> -->
  <h1 class="title">{{ title }}</h1>

  <p class="desc">{{ desc }}</p>

  <div class="link">
    <a mat-button href="https://github.com/DevinDon/app-template" target="_blank">
      <mat-icon class="ri-github-line"></mat-icon><span class="name">GitHub</span>
    </a>
    <a mat-button href="https://angular.io" target="_blank">
      <mat-icon class="ri-angularjs-line"></mat-icon><span class="name">Angular</span>
    </a>
    <a mat-button href="https://github.com/DevinDon/rester" target="_blank">
      <mat-icon class="ri-server-line"></mat-icon><span class="name">Rester</span>
    </a>
  </div>

  <button mat-button class="version">
    <ng-container *ngIf="version; else defaultTemplate">
      <span class="type">{{ version.type }}</span><span class="split"> & </span>
      <span class="major">{{ version.major }}</span>.<span class="minor">{{ version.minor }}</span>.<span
        class="patch">{{ version.patch }}</span>
    </ng-container>
    <ng-template #defaultTemplate>
      <span class="status">Loading...</span>
    </ng-template>
  </button>

  <form>
    <input #upload type="file" style="display: none;" (change)="selectFile(upload.files[0])">
    <button mat-button (click)="upload.click()"
      style="overflow: hidden; text-overflow: ellipsis; width: 15rem; white-space: nowrap;">{{ file && file.name || 'Select File' }}</button>
    <button mat-button (click)="uploadFile()">{{ file && file.progress === 100 ? 'Uploaded' : 'Upload' }}</button>
    <mat-progress-bar mode="determinate" [value]="file && file.progress || 0"></mat-progress-bar>
  </form>

</div>
